.home-wrapp {
    position: relative;
    top: 125px;
    height: calc(100vh - 125px);
    width: 100%;
    background-image: url('../../assets/images/banner/home-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-wrapp .home-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #7D1A7B33;
}

.home-wrapp .container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-wrapp .container h1 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 1rem;
}

.home-wrapp .container .row {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.home-wrapp .container .row .home-box {
    height: 220px;
    margin: 0 1rem;
}

.home-wrapp .container .row .home-box .wrapp {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(187,247,252,0.339);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-wrapp .container .row .home-box .wrapp h2 {
    color: #fff;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.home-wrapp .container .row .home-btn {
    margin-top: 3rem;
    background: #21b4bf;
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 600;
}

.home-wrapp .container .row .home-btn:hover {
    background: #fff;
    color: #21b4bf;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .home-wrapp .container .row .home-box{
        margin: unset;
    }
}

@media only screen and (min-width: 992px){
    .home-wrapp .container .row{
        display: flex;
    }
    .home-wrapp .container .row .home-box{
        width: 30%;
        max-width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    .home-wrapp {
        padding: 2rem 0;
        height: unset;
    }
    .home-wrapp .container h1 {
        font-size: 35px;
        margin-bottom: 0;
    }
    .home-wrapp .container .row{
        flex-direction: column;
    }
    .home-wrapp .container .row .home-box {
        height: 150px;
        width: 100%;
        margin: 1rem 0;
    }
    .home-wrapp .container .row .home-box .wrapp svg {
        width: 50px;
        height: 50px;
    }
    .home-wrapp .container .row .home-btn{
        margin: 1rem auto;
    }
}