.dashboard{
    position: relative;
    top: 125px;
    width: calc(100vw - 400px);
    height: calc(100vh - 125px);
    float: right;
    transition: 0.3s ease-in-out;
    padding: 2rem;
    background-color: #F7F7F7;
}

.dashboard.open{
    width: calc(100vw - 100px);
}

.dashboard .top{
    position: relative;
}

.dashboard .top .wrapp{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #4EBEC6;
    height: 80px;
    transition: 0.3s ease-in-out;
}

.dashboard .top .wrapp h1{
    color: #12777F;
    font-size: 28px;
    font-weight: 600;
}

.dashboard .top .wrapp .search{
    width: 3rem;
    height: 3rem;
    background-color: #21B4BF;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dashboard .top .wrapp .search svg{
    width: 25px;
    height: 25px;
}

.dashboard .top .wrapp .search svg path{
    fill: #fff;
}

.dashboard .top .search-input{
    position: absolute;
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 5px 30px #12777F4D;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.dashboard .top .search-input span{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dashboard .top .search-input .search svg{
    width: 20px;
    height: 20px;
}

.dashboard .top .search-input .search svg path{
    fill: #7D1A7B;
}

.dashboard .top .search-input input{
    width: calc(100% - 6rem);
    height: 100%;
    border: none;
    color: #5E5E5E4A;
    font-size: 20px;
    font-weight: 500;
    padding-left: 1rem;
}

.dashboard .top .search-input input::placeholder{
    color: #5E5E5E4A;
}

.dashboard .top .search-input span.close{
    color: #7D1A7B;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.dashboard .links{
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - 400px - 4rem);
}

.dashboard .links .left{
    width: 50%;
}

.dashboard .links .left img{
    width: 7rem;
    height: 7rem;
    border-radius: 36px;
    box-shadow: 0px 3px 6px #00000029;
}

.dashboard .links .left h2{
    font-size: 34px;
    color: #7D1A7B;
    font-weight: 600;
}

.dashboard .links .left ul{
    list-style: none;
}

.dashboard .links .left ul li{
    color: #12777F;
    font-size: 22px;
    font-weight: 600;
}

.dashboard .links .left .edit{
    color: #98BCBF;
    font-size: 20px;
    font-weight: 500;
}

.dashboard .links .right{
    width: 50%;
    height: 360px;
}

.dashboard .links .right .wrapp{
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 13px 36px #BBF7FC41;
    border-radius: 25px;
    padding: 2rem;
}

.dashboard .links .right .wrapp h2{
    color: #7D1A7B;
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 1rem;
    border-bottom: 1px solid #21B4BF;
}

.dashboard .links .right .wrapp ul{
    list-style: none;
    width: 100%;
    margin-top: 2rem;
}

.dashboard .links .right .wrapp ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    color: #5E5E5E;
    font-size: 20px;
    font-weight: 500;
}

.dashboard .links .right .wrapp ul li svg{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.dashboard .links .right .wrapp svg path{
    fill: #7D1A7B;
}

.dashboard .links .right .view{
    color: #B186B0;
    float: right;
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}

@media only screen and (max-width: 992px){
    .dashboard{
        width: calc(100vw - 75vw);
        padding: 1rem;
        height: calc(100vh - 125px);
        overflow-y: scroll;
    }
    .dashboard.open{
        width: calc(100vw - 60px);
    }
    .dashboard .links{
        flex-direction: column;
        left: unset;
        transform: unset;
        position: unset;
        top: unset;
        margin-top: 6rem;
        width: unset;
    }
    .dashboard .links .left,
    .dashboard .links .right{
        width: 100%;
    }
    .dashboard .links .left{
        text-align: center;
    }
    .dashboard .links .right{
        margin: 2rem 0;
    }
}