.sidebar{
    position: fixed;
    top: 125px;
    left: 0;
    background-color: #BE64BB;
    width: 400px;
    height: calc(100vh - 125px);
    transition: 0.3s ease-in-out;
}

.sidebar.open{
    width: 100px;
}

.sidebar.open ul li a .title{
    display: none;
    transition: 0.3s ease-in-out;
}

.sidebar ul{
    margin-top: 3rem;
}

.sidebar ul li a{
    margin: 2rem 1.5rem;
    height: 2.5rem;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar ul li a .icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #611669;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li a .icon svg{
    width: 20px;
    height: 20px;
}

.sidebar ul li a .icon svg path{
    fill: #fff;
}

.sidebar ul li a .title{
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar ul li a.active .icon{
    background-color: #21B4BF;
}

.sidebar ul li a.active .title{
    border-bottom: 1px solid #21B4BF;
}

.sidebar .hamburger{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.sidebar.open .hamburger{
    right: 50%;
    transform: translateX(50%);
    transition: 0.3s ease-in-out;
}

.sidebar .hamburger .wrapp{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #611669;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
}

.sidebar .hamburger .wrapp::after{
    position: absolute;
    content: '\25bc';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}



@media only screen and (max-width: 992px){
    .sidebar{
        width: 75vw;
    }
    .sidebar.closed{
        min-height: calc(100vh - 125px);
    }
    .sidebar.open{
        width: 60px;
    }
    .sidebar.open ul li a{
        margin: 2rem 0;
    }
    .sidebar.open ul li a .icon{
        margin: 0 auto;
    }
}