.permits-application-wrapper{
    min-height: calc(100vh - 125px);
    background-color: #f7f7f7;
    position: relative;
    top: 125px;
    padding: 5rem 0;
}

.permits-application-wrapper .stepper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.permits-application-wrapper .stepper .stepper-wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.permits-application-wrapper .stepper .stepper-wrapp:last-child{
    display: none;
}

.permits-application-wrapper .stepper .stepper-wrapp:nth-child(3) .line{
    display: none;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb{
    border-radius: 50%;
    /* border: 1px solid $lg; */
    width: 60px;
    height: 60px;
    box-shadow: 0px 3px 6px #BBF7FC41;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb.active{
    background: white;
    color: #21B4BF;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb.disabled{
    color: #837676;
    box-shadow: 0px 3px 6px #BBF7FC41;
    background: white;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb.completed{
    background: #21B4BF;
    color: white;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb.completed span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb.completed span svg{
    width: 35px !important;
    height: 27px !important;
}

.permits-application-wrapper .stepper .stepper-wrapp .numb.completed span svg path{
    fill: #fff;
}

.permits-application-wrapper .stepper .stepper-wrapp .desc{
    text-align: center;
    margin-bottom: 1rem;
}

.permits-application-wrapper .stepper .stepper-wrapp .desc.active{
    color: #21B4BF;
    font-weight: 600;
    font-size: 20px;
}

.permits-application-wrapper .stepper .stepper-wrapp .desc.disabled{
    color: #837676;
    font-weight: 600;
    font-size: 20px;
}

.permits-application-wrapper .stepper .stepper-wrapp .desc.completed{
    color: #21B4BF;
}

.permits-application-wrapper .stepper .stepper-wrapp .line{
    height: 3px;
    background-color: #837676;
    position: absolute;
    width: 70%;
    top: 70%;
    left: 65%;
}

.permits-application-wrapper .stepper .stepper-wrapp .line.completed{
    background-color: #21B4BF;
}

.permits-application-wrapper .main .step-1 label{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.permits-application-wrapper .main .step-1 .select-bx{
    margin-top: 2rem;
    position: relative;
    display: flex;
    width: 30em;
    height: 3rem;
    line-height: 3;
    background: #fff;
    box-shadow: 0px 3px 6px #BBF7FC41;
    overflow: hidden;
    border-radius: 5px;
}

.permits-application-wrapper .main .step-1 .select-bx select{
    appearance: none;
    outline: 0;
}

.permits-application-wrapper .main .step-1 .select-bx select{
    box-shadow: 0px 3px 6px #BBF7FC41;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

.permits-application-wrapper .main .step-1 .select-bx select{
    flex: 1;
    padding: 0 2rem;
    color: #5E5E5E;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

.permits-application-wrapper .main .step-1 .select-bx select::-ms-expand{
    display: none;
}

.permits-application-wrapper .main .step-1 .select-bx::after{
    position: absolute;
    content: '\25BC';
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: 0.3s all ease-in-out;
    color: #21B4BF;
}

.permits-application-wrapper .main .step-1 .btns{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.permits-application-wrapper .main .step-1 .btns button{
    width: 9rem;
    height: 2.5rem;
    background-color: #21B4BF;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #21B4BF;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.permits-application-wrapper .main .step-2 h2{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.permits-application-wrapper .main .step-2 .checks{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #21B4BF;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #BBF7FC41;
    background-color: white;
    position: relative;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box input[type="checkbox"] {
    appearance: none;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box input[type="checkbox"]:checked + label img{
    opacity: 0.25;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box input[type="checkbox"]:checked + label p{
    opacity: 0.25;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box input[type="checkbox"]:checked + label .overlay{
    position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(33, 180, 191, 0.25);
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	box-shadow: 0px 3px 6px #bbf7fc 41;
	opacity: 1;
	display: flex;
    align-items: center;
	justify-content: center;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box label {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-bottom: 0;
    top: 0;
    left: 0;
}

.permits-application-wrapper .main .step-2 .checks .permit-type-box label img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}
.permits-application-wrapper .main .step-2 .checks .permit-type-box label p {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    color: #7d1a7b;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}
.permits-application-wrapper .main .step-2 .checks .permit-type-box label .overlay {
    opacity: 0;
}

.permits-application-wrapper .main .step-2 .btns,
.permits-application-wrapper .main .step-3 .btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.permits-application-wrapper .main .step-2 .btns .prev,
.permits-application-wrapper .main .step-3 .btns .prev{
    width: 9rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    color: #B186B0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.permits-application-wrapper .main .step-2 .btns .next,
.permits-application-wrapper .main .step-3 .btns .next{
    width: 9rem;
    height: 2.5rem;
    background-color: #21B4BF;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #21B4BF;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.permits-application-wrapper .main .step-3 .box{
    margin-bottom: 4rem;
}

.permits-application-wrapper .main .step-3 .box h3{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.permits-application-wrapper .main .step-3 .box-1 .img{
    margin-top: 1rem;
    width: 15rem;
    height: 11rem;
    box-shadow: 0px 3px 6px #BBF7FC41;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.permits-application-wrapper .main .step-3 .box-1 .img p{
    font-size: 22px;
    color: #7d1a7b;
    font-weight: 600;
}

.permits-application-wrapper .main .step-3 .box .select-bx{
    margin-top: 2rem;
    position: relative;
    display: flex;
    width: 30em;
    height: 3rem;
    line-height: 3;
    background: #fff;
    box-shadow: 0px 3px 6px #BBF7FC41;
    overflow: hidden;
    border-radius: 5px;
}

.permits-application-wrapper .main .step-3 .box-3 .select-bx{
    width: 15rem;
}

.permits-application-wrapper .main .step-3 .box .select-bx select{
    appearance: none;
    outline: 0;
}

.permits-application-wrapper .main .step-3 .box .select-bx select{
    box-shadow: 0px 3px 6px #BBF7FC41;
    border-radius: 5px;
    background-color: #fff;
    border: none;
}

.permits-application-wrapper .main .step-3 .box .select-bx select{
    flex: 1;
    padding: 0 2rem;
    color: #5E5E5E;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

.permits-application-wrapper .main .step-3 .box .select-bx select::-ms-expand{
    display: none;
}

.permits-application-wrapper .main .step-3 .box .select-bx::after{
    position: absolute;
    content: '\25BC';
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: 0.3s all ease-in-out;
    color: #21B4BF;
}

.permits-application-wrapper .main .step-3 .box-6 h3{
    margin-bottom: 2rem;
}

.permits-application-wrapper .main .step-3 .box-6 .form-row{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.permits-application-wrapper .main .step-3 .box-6 .form-group{
    margin-bottom: 1rem;
    width: 75%;
}

.permits-application-wrapper .main .step-3 .box-6 .form-row .left{
    width: 50%;
    margin-right: 1rem;
}

.permits-application-wrapper .main .step-3 .box-6 .form-row .right{
    width: 50%;
    margin-left: 1rem;
}

.permits-application-wrapper .main .step-3 .box input{
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #fff;
    color: #83767693;
    padding-left: 2rem;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}

.permits-application-wrapper .main .step-3 .box input::placeholder{
    color: #83767693;
}

.permits-application-wrapper .main .step-3 .box-7 .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.permits-application-wrapper .main .step-3 .box-7 .top h1{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2rem;
}

.permits-application-wrapper .main .step-3 .box-7 .check-w{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.permits-application-wrapper .main .step-3 .box-7 .check-w h4{
    color: #5E5E5E;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2rem;
}

.permits-application-wrapper .main .step-3 .box-7 .check-w .check{
    width: 2rem;
    height: 2rem;
    border: 2px solid #21B4BF;
    border-radius: 50%;
    cursor: pointer;
}

.permits-application-wrapper .main .step-3 .box-7 .check-w .check.active{
    background-color: #21B4BF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.permits-application-wrapper .main .step-3 .box-7 .check-w .check.active svg{
    width: 20px;
    height: 20px;
}

.permits-application-wrapper .main .step-3 .box-7 .check-w .check.active svg path{
    fill: #fff;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    cursor: pointer;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx:nth-child(1){
    margin-left: 0;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx p{
    color: #5E5E5E;
    font-weight: 500;
    font-size: 20px;
    margin-left: 1rem;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx .check{
    width: 2rem;
    height: 2rem;
    border: 2px solid #21B4BF;
    border-radius: 50%;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx .check.active{
    background-color: #21B4BF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx .check.active svg{
    width: 20px;
    height: 20px;
}

.permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx .check.active svg path{
    fill: #fff;
}

.permits-application-wrapper .main .step-3 .box-9 .top{
    display: flex;
    align-items: center;
}

.permits-application-wrapper .main .step-3 .box-9 .top h1{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2rem;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w{
    margin-top: 2rem;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w h4{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp .checkbx{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp .checkbx p{
    color: #21B4BF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1rem;
} 

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp .checkbx .check{
    width: 2rem;
    height: 2rem;
    border: 2px solid #21B4BF;
    border-radius: 50%;
    cursor: pointer;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp .checkbx .check.active{
    background-color: #21B4BF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp .checkbx .check.active svg{
    width: 20px;
    height: 20px;
}

.permits-application-wrapper .main .step-3 .box-9 .check-w .wrapp .checkbx .check.active svg path{
    fill: #fff;
}

.permits-application-wrapper .main .step-3 .box-10 h2{
    color: #B186B0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    float: right;
}

.permits-application-wrapper .main .step-3 .box-10 .wrapp{
    width: 100%;
    height: 20rem;
    background-color: #F5F6FA;
    padding: 1rem;
    box-shadow: 0px 3px 6px #0000004D;
    border-radius: 5px;
}

.permits-application-wrapper .main .step-3 .box-10 .wrapp .inner{
    border: 2px dashed #C2CDDA;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.permits-application-wrapper .main .step-3 .box-10 .wrapp .inner h3{
    color: #555A6B;
    font-size: 18px;
    font-weight: 600;
    text-transform: unset;
}

.permits-application-wrapper .main .step-3 .box-10 .wrapp .inner p{
    color: #666666;
    font-size: 14px;
}

.permits-application-wrapper .main .step-3 .box-10 .wrapp .inner button{
    background-color: #21B4BF;
    width: 9rem;
    height: 2.5rem;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    border: none;
}

.permits-application-wrapper .main .step-3 .box-11 .wrapp{
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.permits-application-wrapper .main .step-3 .box-11 .wrapp h1{
    color: #5E5E5E;
    font-size: 26px;
    font-weight: 600;
}

.permits-application-wrapper .main .step-3 .step-3-wrapp{
    padding-bottom: 3rem;
    border-bottom: 1px solid #21B4BF;
}

.permits-application-wrapper .main .step-3 .btns{
    margin-top: 2rem;
}

.permits-application-wrapper .main .step-3 .box-4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.permits-application-wrapper .main .step-3 .box-4 .left,
.permits-application-wrapper .main .step-3 .box-4 .right{
    width: 50%;
}

.permits-application-wrapper .main .step-3 .box-4 .MuiInputBase-root{
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0px 3px 6px #BBF7FC41;
    border-radius: 5px;
}

.permits-application-wrapper .main .step-3 .box-4 .MuiInputBase-root::before{
    border-bottom: none;
}

.permits-application-wrapper .main .step-3 .box-4 .MuiInput-underline:after{
    border-bottom: none !important;
}

.permits-application-wrapper .main .step-3 .box-4 .MuiInputBase-input:focus{
    outline: 0 !important;
}

.MuiPopover-paper{
    box-shadow: 0px 10px 10px #BBF7FC41 !important;
}

.MuiPickersBasePicker-pickerViewLandscape{
    padding: 0 2rem !important;
}

.MuiPopover-paper .MuiPickersBasePicker-pickerViewLandscape>div:first-child{
    border-bottom: 1px solid #12777F;
    padding-bottom: 10px;
}

.MuiPickersDay-daySelected{
    background-color: #7D1A7B4D !important;
}

.MuiTypography-body1{
    color: #12777F;
}

.MuiSvgIcon-root path:first-child{
    fill: #12777F;
}

.MuiPickersCalendarHeader-dayLabel{
    color: #3A3F40 !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.MuiInputAdornment-positionEnd .MuiIconButton-root svg path:first-child{
    fill: #7d1a7b;
}
/* .permits-application-wrapper .main .step-3 .box-4 .MuiPaper-elevation8{
    box-shadow: none !important;
} */

.permits-application-wrapper .main .step-4 h2{
    color: #21B4BF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.permits-application-wrapper .main .step-4 .box{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}


.permits-application-wrapper .main .step-4 .box .left{
    margin-right: 2rem;
}

.permits-application-wrapper .main .step-4 .box .left p,
.permits-application-wrapper .main .step-4 .box .right p{
    color: #7D1A7B;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.permits-application-wrapper .main .step-4 .box .left .wrapp,
.permits-application-wrapper .main .step-4 .box .right .wrapp{
    width: 200px;
    height: 45px;
    box-shadow: 0px 3px 6px #BBF7FC41;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.permits-application-wrapper .main .step-4 .box.box-2 .left .wrapp{
    width: 220px;
}

.permits-application-wrapper .main .step-4 .box .left .wrapp span,
.permits-application-wrapper .main .step-4 .box .right .wrapp span{
    color: #837676;
    font-size: 20px;
    font-weight: 500;
}

.permits-application-wrapper .main .step-4 .box h3{
    color: #5E5E5E;
    font-size: 13px;
    font-weight: 600;
}

.permits-application-wrapper .main .step-4 .box .MuiInputBase-root{
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0px 3px 6px #BBF7FC41;
    height: 45px;
    width: 200px;
    border-radius: 5px;
}

.MuiInputBase-input{
    color: #837676 !important;
    padding: 6px 10px !important;
}

.permits-application-wrapper .main .step-4 .box .MuiInputBase-root::before{
    border-bottom: none;
}

.permits-application-wrapper .main .step-4 .box .MuiInput-underline:after{
    border-bottom: none !important;
}

.permits-application-wrapper .main .step-4 .box .MuiInputBase-input:focus{
    outline: 0 !important;
}

.permits-application-wrapper .main .step-4 .btns{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.permits-application-wrapper .main .step-4 .btns .prev{
    width: 5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    color: #B186B0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: left;
}

.permits-application-wrapper .main .step-4 .btns .next{
    width: 9rem;
    height: 2.5rem;
    background-color: #21B4BF;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #21B4BF;
    border-radius: 10px;
    cursor: pointer;
}

.permits-application-wrapper .main .step-4 .btns .next a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

@media only screen and (max-width: 992px){
    .permits-application-wrapper .stepper .stepper-wrapp .desc{
        font-size: 15px !important;
    }
    .permits-application-wrapper .stepper .stepper-wrapp .numb{
        width: 40px;
        height: 40px;
    }
    .permits-application-wrapper .stepper .stepper-wrapp .numb.completed span svg{
        width: 20px !important;
        height: 20px !important;
    }
    .permits-application-wrapper .main .step-1 .select-bx,
    .permits-application-wrapper .main .step-3 .box .select-bx{
        width: 20em;
    }
    .permits-application-wrapper .main .step-2 .checks{
        grid-template-columns: repeat(2, 1fr);
    }
    .permits-application-wrapper .main .step-3 .box-8 .check-wrapp{
        flex-direction: column;
        justify-content: center;
    }
    .permits-application-wrapper .main .step-3 .box-8 .check-wrapp .checkbx{
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .permits-application-wrapper .main .step-4 .box.box-1{
        flex-direction: column;
        align-items: flex-start;
    }
    .permits-application-wrapper .main .step-4 .box.box-1 .left{
        margin-bottom: 2rem;
    }
}